@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto:300,400,500');

/*FONT STYLING*/
body{
    font-family: "Roboto", sans-serif;
    position: relative;
}
h1, h2, h3, h4, h5, h6{
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin: 0;
}
.h2about{
    font-size: 2.1em;
    padding-bottom: 0.15em;
    font-weight: 400;
}
.h-footer{
    padding-bottom: 0.42em;
    color: #EEC856;
}
.roboto-nav{
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
}
p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.02em;
}

/* Necessary for full page carousel*/
html, body, .view {
    height: 100%;
    width: 100%;
}

/* Carousel*/     
.carousel, .carousel-item, .active {
    height: 100%;
}
.carousel-inner {
    height: 100%;
}
.flex-center {
    color: #fff;
}
.carousel-caption {
    height: 100%;
    padding-top: 7rem;
}
/*CAROUSEL STYLING*/
.carousel-control-prev, .carousel-control-next{
    opacity: 0.7;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all .2s;
}
.carousel-control-prev:hover, .carousel-control-next:hover{
    color:#EEC856;
    opacity: 0.9;
    font-size: 1.34em;
}

.carousel-heading{
    height: 17em;
    width: 48em;
}
@media (min-width: 767px){ .carousel-heading .hidden{
    opacity: 0;
    transition: all 0.62s;
    }
}


/*NAVBAR*/
.navbar {
  padding: 25px 0;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
  transition: all .5s ease-out;
    box-shadow: 0 0;
}
.navbar.navbar-light .navbar-toggler-icon {
    cursor: pointer;
}   
.navbar-toggler-right{
    padding-right: 15px;
}
header .navbar .fa-bars{
    color: rgba(255,255,255,.5);
}
header .navbar .fa-bars:hover{
    cursor: pointer;
    color: #EEC856;
}
header .navbar .navbar-collapse.collapsing .nav-link.active{
    border-bottom: none;
}
header .navbar .navbar-collapse.show .nav-link.active{
    border-bottom: none;
}
.navbar.navbar-light .navbar-nav a {
  color: white;
  padding: 4px 10px;
}
.navbar-light{
    border:none;
}

.navbar.navbar-light .navbar-nav .nav-item a:hover {
    color: #EEC856;
    transition: .35s;
}
.navbar-light .navbar-nav .active>.nav-link{
    color: white;
}
/*Brand*/
.navbar-light .navbar-brand{
    color: white;
    padding: 3px 0;
    padding-left: 12px;
}
.navbar-light .navbar-brand:hover{
    color: #EEC856;
    transition. 35s;
}
.navbar-light .navbar-nav .nav-link.active{
  font-weight: 400;
  color: #EEC856;
  background: transparent;
  border-bottom: 4px solid #EEC856;
  text-shadow: none;
}
.navbar.navbar-light .nav-item.active{
    background-color: transparent;
}

/*Nav after carousel*/
header .navbar.pastcarousel{
    background-color: midnightblue;
    padding-top: 0px;
    padding-bottom:10px;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    transition: all .4s ease-out;
}
header .navbar.pastcarousel .navbar-nav{
    padding-top: 10px;
}
header .navbar.pastcarousel .navbar-collapse.show .nav-link.active{
    background-color: rgba(0, 0, 0, 0.3);
}
header .navbar.pastcarousel .navbar-brand{
    padding-top: 15px;
    padding-left: 12px;
    font-size: 1.1em;
}
header .navbar.pastcarousel .fa-bars{
    padding-top:15px;
    color: white;
    transition: all 0.15s;
}
header .navbar.pastcarousel .fa-bars:hover{
    color: #EEC856;
    transition: all 0.15s;
}
.hoverable.navhover{
    transition: box-shadow .4s;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.16), 0 5px 12px 0 rgba(0, 0, 0, 0.12);
}
.hoverable.navhover:hover{
    box-shadow: 0 6px 17px 0 rgba(0, 0, 0, 0.23), 0 8px 20px 0 rgba(0, 0, 0, 0.2);
    padding-top: 7px;
    padding-bottom:14px;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all .4s;
}
/*Accordion*/
.card.accordion, .card-header.accordion{
    background-color: transparent;
    box-shadow: none;
}
.card-header.accordion a.collapsed{
    color: black;
    transition: all 0.15s;
}
.card-header.accordion a{
    color: #607d8b;
}
.card-header.accordion a:hover{
    color: #607d8b;
    transition: all 0.15s;
}
.card-header.accordion a.collapsed .fa{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

/*Footer*/
footer.page-footer{
    background-color: midnightblue;
    margin-top: 0px;
    padding-top: 23px;
}
footer.page-footer a.email{
    color: turquoise;
}
footer.page-footer a:hover{
    color: #EEC856;
}
/*Background of page sections*/
#about{
    background-color: moccasin;
}
#projects{
    background-color: aqua;
}
#resume{
    background-color: lavender;
}
/*Other*/
@media (max-width: 991px){ .center-md-down{
    text-align: center;
    }}
.img-fluid.aboutphoto{
    height:20em;
    width:20em;
    margin: 6% auto 2% auto;
}